.table-entry {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

body {
  background-color: #cbcbcb; /* Hintergrundfarbe */
  color: #000000; /* Schriftfarbe */
}

.grid-wrapper {
  display: grid;
  height: 82vh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}
/* Zentrierung für Header & Footer */
header,
footer {
  display: flex;
  align-items: center; /* vertikal in die Mitte */
  justify-content: center; /* horizontal in die Mitte */
  text-align: center;
  background-color: #00000030;
}

aside {
  background-color: #00000030; /* Hintergrundfarbe, transparent falls hintergrund mal mit bild gewächselt wird. 30% transparent  */
}

main {
  padding: 50px; /* Abstand zum Rand */
}
aside > nav > ul {
  list-style: none; /* keinen punkt */
  margin: 0;
}

aside > nav > ul > li {
  margin: 0;
}

aside > nav > ul > li > a {
  text-decoration: none; /* kein unterstrich */
  color: black; /* link farbe */
  display: block; /* gesamter bereich klickbar */
  padding: 10px; /* abstand teil zwischen teil  */
}

main > section > ul > li > span > a {
  text-decoration: none; /* kein unterstrich */
  color: black; /* link farbe */
}
